<table>
  <thead>
    <tr>
      <th>Created_at</th>
      <th>Comment</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant.reviews.each do |review| %>
    <tr>
      <td><%= review.created_at %></td>
      <td><%= review.content %></td>
      <td><%= review.rating %></td>
    </tr>
  </tbody>
  <% end %>
</table>
